[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = "*"
pytest = "*"
pytest-mock = "*"
pytest-requests = {git = "https://github.com/okken/pytest-requests.git"}
python-dotenv = "*"

[requires]
python_version = "3.6"
